/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root {
  --bg-image: url("../images/cover-image-light.png");
  --color-header: #FFC2E6;
  --color-main-text: #353430;
  --color-main-headers-lev-one: #353430;
  --color-main-headers-lev-two: #353430;
  --color-shadow: #FF0070;
  --color-decor: #ff8dcb;
}



.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  :root {
    --bg-image: url("../images/cover-image-light.png");
    --color-header: #FFC2E6;
    --color-main-text: #353430;
    --color-main-headers-lev-one: #353430;
    --color-main-headers-lev-two: #353430;
    --color-shadow: #FF0070;
    --color-decor: #ff8dcb;
  }

  .header__theme-menu-button_type_light {
    outline: 1px solid var(--color-main-headers-lev-one);
  }

  .header__theme-menu-button_type_dark {
    outline: none;
  }

  .header__theme-menu-button_type_dark:hover {
    outline: 1px solid var(--color-main-headers-lev-one);
  }

  .header__rec::after, 
  .header__rec::before {
    display: none;
  }
}

@media (width <= 768px) {
  :root {
    --color-header: #FFC2E6;
    --color-shadow: #ff8dcb;
  }
}

