/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-image: var(--bg-image);
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  overflow-x: auto;
}

.header {
  box-sizing: border-box;
  padding: 10px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr min-content 1fr;
  height: 100vh;
  min-height: 668px;
}

.header__rec::after {
  content: "";
  position: absolute;
  top: 18px;
  right: 19px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--color-rec);
  box-shadow: 0 0 4px 2px var(--color-rec);
}

.header__rec::before {
  content: "rec";
  position: absolute;
  top: 10px;
  right: 38px;
  text-transform: uppercase;
  color: var(--color-rec);
  text-align: center;
  font-family: var(--main-font);
  font-size: var(--font-size);
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  position: absolute;
  content: "";
  top: 10px;
  right: 10px;
  block-size: 25px;
  inline-size: 25px;
  border-top: 1px solid var(--color-main-headers-lev-one);
  border-right: 1px solid var(--color-main-headers-lev-one);
}

.decorated-zone::after {
  position: absolute;
  content: "";
  bottom: 10px;
  left: 10px;
  block-size: 25px;
  inline-size: 25px;
  border-bottom: 1px solid var(--color-main-headers-lev-one);
  border-left: 1px solid var(--color-main-headers-lev-one);
}

.header__theme-menu {
  display: flex;
  align-items: center;
  justify-content: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.header__theme-menu-button {
  color: var(--color-main-headers-lev-one);
  text-align: center;
  font-family: var(--main-font);
  font-size: var(--font-size);
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  border: none;
  text-transform: lowercase;
  min-width: 70px;
  min-height: 26px;
  box-sizing: border-box;
  padding: 1.5px 13px 1.5px 13px;
  background-color: inherit;
  cursor: pointer;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--color-main-headers-lev-one);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--color-outline);
}

.header__theme-menu-button:focus,
.header__theme-menu-button_active:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--color-main-headers-lev-one);
}

.header__theme-menu-button_active:focus-visible {
  outline: transparent;
}

.cover__title {
  color: var(--color-header);
  text-shadow: 4px 4px 0px var(--color-shadow);
  font-family: var(--main-font);
  font-size: var(--font-size-header);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
  text-align: left;
  display: block;
}

.cover__text {
  display: flex;
  justify-content: end;
  align-items: center;
}

.cover__title-paragraph {
  width: 100%;
  color: var(--color-main-headers-lev-two);
  font-family: var(--main-font);
  font-size: var(--font-size);
  font-style: normal;
  font-weight: 700;
  line-height: var(--line-height);
}

.title-decor {
  background-color: var(--color-decor);
}

.page.theme_light .header__rec::after, 
.page.theme_light .header__rec::before {
  display: none;
}

.main__content {
  display: flex;
  flex-direction: column;
}

.content {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin-block-start: 50px;
}

.content:first-child {
  margin-block-start: 40px;
}

.content__title {
  color: var(--color-main-headers-lev-one);
  font-family: var(--main-font);
  font-size: var(--font-size);
  font-style: normal;
  font-weight: 700;
  line-height: var(--line-height);
}

.content__cards {
  display: grid;
  row-gap: 20px;
  grid-auto-flow: row;
}

.content__cards-item {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  grid-auto-flow: row;
  row-gap: 10px;
}

.content__cards-item-header {
  color: var(--color-main-headers-lev-two);
  font-family: var(--main-font);
  font-size: var(--font-size);
  font-style: normal;
  font-weight: 700;
  line-height: var(--line-height);
}

.content__cards-item-article {
  color: var(--color-main-text);
  font-family: var(--main-font);
  font-size: var(--font-size);
  font-style: normal;
  font-weight: 400;
  line-height: var(--line-height);
}

.content__cards-link {
  text-decoration: none;
  text-shadow: 1px 2px 0px var(--color-decor);
}

.content__cards-link:hover {
  border-bottom: 1px solid var(--color-main-text);
}

.content__cards-link:focus {
  outline: transparent;
}

.content__cards-link:focus-visible {
  outline: 1px solid var(--color-main-text);
}

.content__adwices__title {
  color: var(--color-main-headers-lev-one);
  font-family: var(--main-font);
  font-size: var(--font-size);
  font-style: normal;
  font-weight: 700;
  line-height: var(--line-height);
}

.content__cards-item-header-lower {
  font-weight: 400;
}

.content__header__cards {
  grid-column: 2 / -1;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.content__images {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content__images-cards-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content__images-cards-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
  min-height: 668px;
  padding: 10px;
  margin-block-start: 40px;
}

@media (width >= 768px) {
  .header {
    padding: 20px 0;
  }

  .header__rec::after {
    top: 28px;
    right: 29px;
  }
  
  .header__rec::before {
    top: 20px;
    right: 48px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .header__theme-menu {
    padding-left: 20px;
    padding-right: 20px;
  }

  .cover__title {
    --font-size-header: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem); 
    display: inline-block;
    font-size: var(--font-size-header);
  } 

  .cover__text {
    padding: 0 20px;
  }

  .cover__title-paragraph {
    width: calc(100% / 2);
  }

  .content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-auto-flow: row;
    gap: 20px;
    margin-block-start: 80px;
    padding: 0 20px;
  }

  .content:first-child {
    margin-block-start: 60px;
  }

  .content__title {
    grid-column: 1;
  }

  .content__cards {
    grid-column: 2 / -1;
  }

  .content__adwices__cards {
    grid-column: 1 / -1;
  }

  .content__cards-item-header-image {
    grid-column: 1 / -1;
  }

  .content__images-cards-list {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: min-content;
    grid-auto-flow: row;
    gap: 20px;
  }
  
  .content__images-sunset {
    grid-column: 1 / 3;
    grid-row: 1;
  }

  .content__images-ice-cream {
    grid-column: 3;
    grid-row: 1 / 3;
  }

  .content__images-books {
    grid-column: 2;
    grid-row: 2;
  }

  .content__images-tape {
    grid-column: 1;
    grid-row: 2 / 4;
  }

  .content__images-street {
    grid-column: 2 / -1;
    grid-row: 3;
  }

  .footer {
    padding: 20px;
    margin-block-start: 60px;
  }
}

@media (width >= 1024px) {
  .content {
    grid-template-columns: repeat(3, 1fr);
  }
  
  .content__adwices__cards {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .header__theme-menu {
    align-items: start;
    justify-content: center;
  }
  
  .header__theme-menu-list {
    flex-direction: row;
    column-gap: 10px;
  }
}

/** { outline: 1px solid yellow; }*/