/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --bg-image: url("../images/cover-image-light.png");
  --color-header: #FFC2E6;
  --color-shadow: #FF8DCB;
  --color-main-text: #353430;
  --color-main-headers-lev-one: #353430;
  --color-main-headers-lev-two: #353430;
  --color-decor: #ff8dcb;
  --font-size: 18px;
  --line-height: 23.4px;
  --main-font: "IBM Plex Mono", sans-serif;
  --font-size-header: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --color-outline: rgba(50, 49, 45, 0.40);
}

@media (width >= 1024px) {
  :root {
    --color-header: #FFC2E6;
    --color-shadow: #FF0070;
  }
}
